/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
}

.main {
  width: 100%;
}

.main .contenedor {
  width: 100%;
}

/* Menu principal */
.menu-bar-pc {
  width: 90%;
  height: 120px;
  margin: 0 auto;
  max-width: 1080px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo, .menu-principal a {
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
}

.logo {
  color: #575757;
}

.menu-principal a {
  color: #a4a4a4;
}

.menu-principal a:hover {
  color: #575757;
}

#presionado{
  color: #575757;
}

.menu-principal a {
  padding: 0 20px;
}

.menu-principal a:last-child {
  padding-right: 0px;
}


/* Menu mobile */
.menu-mobile {
  display: none;
}


/* Proyectos */

.main .proyectos {
  width: 90%;
  margin: 0 auto;
  max-width: 1080px;
}

.main .contenedor .proyectos .galeria-proyectos {
display: flex;
flex-wrap: wrap;
justify-content:space-between;
flex-direction: row;
padding-bottom: 50px;
}

.main .contenedor .proyectos .galeria-proyectos .proyecto {
  width: 32%;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;

}

.main .contenedor .proyectos .galeria-proyectos .proyecto img {
  width: 100%;
  transition: all .2 ease;
}

.main .contenedor .proyectos .galeria-proyectos .proyecto img:hover {
  background: rgba(0, 0, 0, 0.7);
}

/* Nuevo estilo css overlay con texto superpuesto */
.main .contenedor .proyectos .galeria-proyectos .proyecto .imagen-proy {
  display: block;
  width: 100%;
  height: auto;
}

.main .contenedor .proyectos .galeria-proyectos .proyecto .transparencia-sobre-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.main .contenedor .proyectos .galeria-proyectos .proyecto:hover .transparencia-sobre-img {
  opacity: 0.7;
}

.main .contenedor .proyectos .galeria-proyectos .proyecto .texto-superpuesto {
  color: #fff;
  font-size: 1rem;
  position: absolute;
  top: 5%;
  left: 5%;
  transform: translate(-5%, -5%);
}


/* Estilo en pagina de cada proyecto */
.titulo-seccion{
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

.main .contenedor .titulo-seccion h1 {
  font-size: 1.2rem;
  color: #575757;
  font-weight: 500;

  margin-bottom: 20px;
}

.main .contenedor .titulo-seccion p {
  font-size: 1rem;
  color: #a4a4a4;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: left;
  width: 70%;

}

.main .contenedor .contenedor-del-proyecto{
  width: 90%;
  max-width: 1080px;

  margin: 0 auto;

}

.main .contenedor .contenedor-del-proyecto img{
  width: 100%;
}


/* contacto */
.main .contenedor-contacto {
  text-align: left;
  margin: 0 auto;
}



.main .contenedor-contacto .titulo-seccion h2 {
  font-size: 1.2rem;
  color: #a4a4a4;
  font-weight: 500;

}

.main .contenedor-contacto .titulo-seccion p {
  font-size: 1.6rem;
  color: #a4a4a4;
  font-weight: 500;
  margin-bottom: 30px;

}

.main .contenedor-contacto .titulo-seccion a {
  text-decoration: none;
}


/* Footer */
footer {
  text-align: center;
  height: 30px;
  color: #838383;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 60px;
  margin-bottom: 10px;
}



/* Media querys */
@media screen and (max-width: 1040px) {

}


@media screen and (max-width: 900px) {
  .menu-bar-pc {
    display: none;
  }

  .menu-mobile {
    display: block;
    width: 90%;
    height: 120px;
    margin: 0 auto;
    z-index: 999999999;
  }

  .menu-mobile .barra  {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999999;
  }

.menu-mobile .barra a i {
  font-size: 1.4rem;
  color: #575757;
}

.menu-mobile .menu-principal{
  width: 100%;
  display: block;
  position: fixed;
  top: 120px;
  left: -100%;
  border-bottom: 1px solid rgba(204,204,204,0.5);
  border-right: 1px solid rgba(204,204,204,0.5);
  box-shadow: 0px 1px 5px -1px rgba(0,0,0,0.2);
  background: #fff;
  text-align: center;
  z-index: 9999999;
}

.menu-mobile .menu-principal a{
  display: block;
  padding: 10px;
  color: #444444;
  border-bottom: 1px solid rgba(204,204,204,0.5);
}

.menu-mobile .menu-principal a:hover{
  background: #f7f7f7;
}




}


@media screen and (max-width:550px){
.main .contenedor .proyectos .galeria-proyectos .proyecto {
  width: 49%;
}

.main .contenedor .proyectos .galeria-proyectos .proyecto .ultimo-proy {
  display: none;
}

}
